.menu{
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    background-color: #333;
}

.title{
    z-index: 99;
    color: aliceblue;
    position: fixed; 
    width: auto;
    height: auto;
    top: -10px;
}

.nav{
    z-index: 99;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: #333;
    z-index: 88;
}

.head{

    width: 150px;
    height: 150px;
    position: relative;
    top: 200px;
    left: 25px;
}

.name{

    width: 150px;
    height: 50px;
    position: relative;
    top: 200px;
    left: 25px;
    color: aliceblue;
    font-size: 28px;
}


.job{

    width: 150px;
    height: 50px;
    position: relative;
    top: 200px;
    left: 25px;
    color: aliceblue;
    font-size: 28px;
}


.fuc{
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background-color: #333;
    border-radius: 20px;
    position: relative;
    top: 300px;

}

.fuc:hover{
    background-color: aqua;
}

.fuc a{
    color: aliceblue;
}

.tool{
    display: inline-block;
    float: right;
    position: relative;
    top: 15px;
    margin-right: 20px;
    font-size: 18px;
}


.date{
    color: aliceblue;
}

.welc{
   color: aliceblue;
}


.nav img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}



div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div a:hover{
    text-decoration: none;
    color: aliceblue;
}
 

.head img{
    width: 150px;
    height: 150px;
}

.fuc img{
    width: 40px;
    height: 40px;

}

.body{
    width: 80%;
    height: auto;
    position: relative;
    left: 200px;
    top: 60px;
}

table caption{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.search{

    width: 1200px;
    height: 40px;
    position: relative;
    left: 200px;
    top: 60px;
}

.search img{
    width: 30px;
    height: 30px;
    position: relative;
    right: 32px;
    cursor: pointer;
}

.search button{
    position: relative;
    left: 1000px;
    bottom: 34px;
    width: 200px;
}

.body div{
    width: auto;
    height: auto;
}

.body div img{
    width: 134px;
    height: 134px;
}

.body div button{
    position: relative;
    bottom: 225px;
    left: 1000px;
    display: block;
    margin-top: 5px;
}

.body div table{
    width: 700px;

    position: relative;
    left: 200px;
    bottom: 130px;
}

.form-control{
    width: 80px;
}

.p1{
    position: absolute;
    top: 120px;
}

.hi{
    position: relative;
    left: 0px;
}

.pic{
    animation: picchange 2s;
    animation-fill-mode: forwards;
}


@keyframes picchange{
    100%{float: right;}
}

.control{
    display: inline-block;
    position: relative;
    left: 200px;
    top: 10px;
   cursor: pointer;
}

.control img{
    width: 40px;
    height: 40px;
}

@keyframes mov{
    0%{position: fixed;left:0px;}
    100%{position: fixed;left:-150px;}
}

@keyframes out{
    0%{position: fixed;left:-150px;}
    100%{position: fixed;left:0px;}
}

.animain{
    animation: mov 1s;
    animation-fill-mode: forwards;
}

.animaout{
    animation: out 1s;
    animation-fill-mode: forwards;
}
