body {
    background-color: black;
    width: 95%;
    margin: auto;
    color: aliceblue;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
    background: url('images/starfield-banner.jpg ');
    width: 100%;
    height: 130px;
     
}

.header .logo {
    display: inline-block;
    width:110px;
    margin-top:20px;
}

.header .top_nav{
    display: inline-block;
    width: 850px;
    height: 60px;
    position: absolute;
    left: 380px;
    top:5px; 
    font-size: 19px;
}

.header .top_nav .top1{
    display: inline-block;
    border-right: 3px solid grey;
    width: 90px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;

}

.header .top_nav .top2{
    display: inline-block;
    border-right: 3px solid grey;
    width: 90px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;

}

.header .top_nav .top3{
    display: inline-block;
    border-right: 3px solid grey;
    width: 90px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;

}

.header .top_nav .top4{
    display: inline-block;
    border-right: 3px solid grey;
    width: 140px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;
}

.header .top_nav .top5{
    display: inline-block;
    border-right: 3px solid grey;
    width: 120px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;

}

.header .top_nav .top6{
    display: inline-block;
    border-right: 3px solid grey;
    width: 70px;
    height: 30px;
    margin: 15x 0px;
    text-align: center;
    line-height: 30px;

}

.header .top_nav .top7{
    display: inline-block;
    width: 160px;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    line-height: 30px;

}

.header .bot_nav{
    display: inline-block;
    width: 900px;
    height: 38px;
    background-color: rgb(95, 93, 93);
     
    position: absolute;
    left:300px;
    top: 80px;
    font-size: 14px;
    
}

.header .bot_nav .bot1{
    display: inline-block;
    width: 120px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot2{
    display: inline-block;
    width: 110px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot3{
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot4{
    display: inline-block;
    width: 80px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot5{
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot6{
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot7{
    display: inline-block;
    width: 80px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot8{
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 5px 0px;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 30px;
}

.header .bot_nav .bot9{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 5px 0px;
    text-align: center;
    line-height: 30px;
}

.header .search{
    display: inline-block;
    width: 280px;
    height: 40px;
    position: absolute;
    left: 1220px;
    top: 15px;
     
}

.header .search .src{
    float: left;
    height: 36px;
    width: 165px;
    background-color: #333333;
    border: 1px solid #333333;
}

.header .search .img{
    display: inline-block;
    position: relative;
    right:40px;
    background-image: url('images/search.svg');
    background-color: transparent; 
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.header .search .share{
    display: inline-block;
    position: relative;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none;
}

.b1{
    width: 100%;
    height: 583px;
     
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.b1 .left{
    /* display: inline-block; */
    background-image: url('images/pia21924-16.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 48%;
    height: 578px;
     
    float: left;
}

.b1 .left .lefttitle{
    background-color: cornflowerblue;
    width: 80px;
    height: 40px;
     
    position: relative; 
    top: 494px;
    text-align: center;
    line-height: 40px;

 }

 .b1 .left .leftcontent{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 678px;
    height: 42px;
     
    position: relative; 
    top: 477px;
 }

 .b1 .right1{
    display: inline-block;
    background-image: url('images/mollweide_cycle.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24%;
    height: 280px;
    margin: 0px 10px;
    overflow: hidden;
 }

 .b1 .right1 .right1title{
    background-color: cornflowerblue;
    width: 80px;
    height: 40px;
    position: relative; 
    top: 193px;
    text-align: center;
    line-height: 40px;
 }

 .b1 .right1 .right1content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 339px;
    height: 60px;
    position: relative; 
    top: 173px;
 }

 .b1 .right2{
    display: inline-block;
    background-color:#39719e;
    width: 24%;
    height: 280px;
    margin: 0px 0px;
     
    overflow: hidden;
 }

 .b1 .right2 p{
     font-size: 14px;
 }

 .b1 .right2 .line1{
    height: 0px;
    width: 317px;
    margin-left:10px;
    position: relative;
    bottom: 10px;
    border-bottom:1px solid white; 
 }

 .b1 .right2 .line2{
    height: 0px;
    width: 317px;
    margin-left:10px;
    position: relative;
    top: 90px;
    border-bottom:1px solid white; 
 }

 .b1 .right3{
    display: inline-block;
    background-image: url('images/s69-39961.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 705px;
    height: 280px;
    margin: 10px 10px 0px 10px;
    overflow: hidden;
 }

 .b1 .right3 .right3content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 704px;
    height: 40px;
    position: relative; 
    top: 225px;
 }

 .b2{
    width: 100%;
    height: 533px;
    margin-top: 15px;;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
 }

.b2 .top_1{
    display: inline-block;
    background-image: url('images/ssc2017-14a1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24%;
    height: 250px;
    margin: 0px 0px;
    overflow: hidden;
} 

.b2 .top_1 .top_1title{
    background-color: cornflowerblue;
    width: 150px;
    height: 30px;
    position: relative; 
    top: 180px;
    text-align: center;
    line-height: 30px;
}

.b2 .top_1 .top_1content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 339px;
    height: 40px;
    position: relative; 
    top: 163px;
}

.b2 .top_2{
    display: inline-block;
    background-image: url('images/pia22556-16.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 48%;
    height: 250px;
    margin: 0px 10px;
     
    overflow: hidden;
}

.b2 .top_2 .top_2title{
    background-color: cornflowerblue;
    width: 100px;
    height: 30px;
     
    position: relative; 
    top: 180px;
    text-align: center;
    line-height: 30px;
}

.b2 .top_2 .top_2content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 703px;
    height: 40px;
     
    position: relative; 
    top: 163px;
}

.b2 .top_3{
    display: inline-block;
    width: 24%;
    height: 250px;
    margin: 0px 0px;
     
    overflow: hidden;
}

.b2 .bot_1{
    display: inline-block;
    background-image: url('images/nasa_logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24%;
    height: 250px;
    margin: 10px 0px;
     
    overflow: hidden;
}

.b2 .bot_1 .bot_1title{
    background-color: cornflowerblue;
    width: 120px;
    height: 40px;
     
    position: relative; 
    top: 153px;
    text-align: center;
    line-height: 40px;
}

.b2 .bot_1 .bot_1content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 339px;
    height: 60px;
     
    position: relative; 
    top: 143px;
}

.b2 .bot_2{
    display: inline-block;
    background-image: url('images/io-home.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 23%;
    height: 250px;
    margin: 10px 20px 10px 10px;
     
    overflow: hidden;
}

.b2 .bot_2 .bot_2title{
    background-color: cornflowerblue;
    width: 70px;
    height: 40px;
     
    position: relative; 
    top: 153px;
    text-align: center;
    line-height: 40px;
}

.b2 .bot_2 .bot_2content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 322px;
    height: 60px;
     
    position: relative; 
    top: 143px;
}

.b2 .bot_3{
    display: inline-block;
    background-image: url('images/cassini20170809.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 23%;
    height: 250px;
    margin: 10px 0px;
     
    overflow: hidden;
}

.b2 .bot_3 .bot_3title{
    background-color: cornflowerblue;
    width: 80px;
    height: 40px;
     
    position: relative; 
    top: 153px;
    text-align: center;
    line-height: 40px;
}

.b2 .bot_3 .bot_3content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 322px;
    height: 60px;
     
    position: relative; 
    top: 143px;
}

.b2 .bot_4{
    display: inline-block;
    background-image: url('images/fermiicecube_as.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24%;
    height: 250px;
    margin: 10px 10px;
     
    overflow: hidden;
}

.b2 .bot_4 .bot_4title{
    background-color: cornflowerblue;
    width: 200px;
    height: 40px;
     
    position: relative; 
    top: 143px;
    text-align: center;
    line-height: 40px;
}

.b2 .bot_4 .bot_4content{
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: 339px;
    height: 150px;
     
    position: relative; 
    top: 133px;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: #15418c;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
}

.ftlogo{
    width: 420px;
    height: 80px;
     
    font-size: 13px;
    font-weight: 600;
    margin-top:20px; 
}

.ft_nav{
    position: relative;
    left: 400px;
}

.ft_nav li{
    display: inline-block;
    margin-left: 30px;
    color: #5d7fb9;
    font-size: 13px;
    font-weight: 600;
}