.menu{
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 60px;
  
    background-color: #333;
}

.title{
    color: aliceblue;
    border: 1px solid white;
    position: fixed; 
    width: auto;
    height: auto;
    top: -10px;
}

.nav{
    z-index: 99;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: #333;
    
}

.head{
   
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.name{
  
    width: 80px;
    height: 30px;
    margin-left: 50px;
    color: aliceblue;
   
}

.job{
  
    width: 80px;
    height: 30px;
    margin-left: 50px;
    color: aliceblue;
    
}

.fuc{

    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background-color: #333;
    border-radius: 20px;

}

.fuc2{

}

.fuc:hover{
    background-color: aqua;
}

.fuc a{
    color: aliceblue;
}

.tool{
    display: inline-block;
    float: right;
    position: relative;
    top: 15px;
    margin-right: 20px;
    font-size: 18px;
}

.date{
    color: aliceblue;
}

.welc{
   color: aliceblue;
}

.nav img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div a:hover{
    text-decoration: none;
    color: aliceblue;
}

.head img{
    width: 80px;
    height: 80px;
}

.fuc img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}


.hi{
    position: relative;
    left: 0px;
}

.pic{
    animation: picchange 2s;
    animation-fill-mode: forwards;
}


@keyframes picchange{
    100%{float: right;}
}

.control{
    display: inline-block;
    position: relative;
    left: 200px;
    top: 10px;
   cursor: pointer;
}
.control img{
    width: 40px;
    height: 40px;
}

@keyframes mov{
    0%{position: fixed;left:0px;}
    100%{position: fixed;left:-150px;}
}

@keyframes out{
    0%{position: fixed;left:-150px;}
    100%{position: fixed;left:0px;}
}

.animain{
    animation: mov 1s;
    animation-fill-mode: forwards;
}

.animaout{
    animation: out 1s;
    animation-fill-mode: forwards;
}

.b1{
    position: relative;
    left: 100px;
    bottom:35px;
}
